/* PasswordInput.css */
.password-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input {
    padding-right: 80px; /* Assurez-vous que le champ de saisie a suffisamment d'espace pour le bouton */
}

.toggle-button {
    position: relative;
    right: 35px;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: #007BFF;
}

.toggle-button:focus {
    outline: none;
}
